<?xml version='1.0' encoding='utf-8'?>
<!--
  {{ ansible_managed }}
-->
{% if epicsarchiverap_cluster == "" %}
  {% set epicsarchiverap_hostlist = [epicsarchiverap_host] %}
{% else %}
  {% set epicsarchiverap_hostlist = groups[epicsarchiverap_cluster] %}
{% endif %}

<appliances>
{% for epicsarchiverap_templatehost in epicsarchiverap_hostlist %}
   <appliance>
{% if epicsarchiverap_cluster == "" %}
    <identity>{{ epicsarchiverap_id }}</identity>
{% else %}
    <identity>{{ epicsarchiverap_id + '_' + epicsarchiverap_templatehost }}</identity>
{% endif %}
    <cluster_inetport>{{ epicsarchiverap_templatehost | regex_replace( '\..*' , '' ) }}:16670</cluster_inetport>
    <mgmt_url>http://{{ epicsarchiverap_templatehost | regex_replace( '\..*' , '' ) }}:{{ epicsarchiverap_mgmt_port }}/mgmt/bpl</mgmt_url>
    <engine_url>http://{{ epicsarchiverap_templatehost | regex_replace( '\..*' , '' ) }}:{{ epicsarchiverap_engine_port }}/engine/bpl</engine_url>
    <etl_url>http://{{ epicsarchiverap_templatehost | regex_replace( '\..*' , '' ) }}:{{ epicsarchiverap_etl_port }}/etl/bpl</etl_url>
    <retrieval_url>http://localhost:{{ epicsarchiverap_retrieval_port }}/retrieval/bpl</retrieval_url>
    <data_retrieval_url>http://{{ epicsarchiverap_templatehost | regex_replace( '\..*' , '' ) }}:{{ epicsarchiverap_retrieval_port }}/retrieval</data_retrieval_url>
   </appliance>
{% endfor %}
</appliances>
