# {{ ansible_managed }}
# System-wide configuration file for tomcat services
# This will be loaded by systemd as an environment file,
# so please keep the syntax. For shell expansion support
# place your custom files as /etc/tomcat/conf.d/*.conf
#
# There are 2 "classes" of startup behavior in this package.
# The old one, the default service named tomcat.service.
# The new named instances are called tomcat@instance.service.
#
# Use this file to change default values for all services.
# Change the service specific ones to affect only one service.
# For tomcat.service it's /etc/sysconfig/tomcat, for
# tomcat@instance it's /etc/sysconfig/tomcat@instance.

# This variable is used to figure out if config is loaded or not.
TOMCAT_CFG_LOADED="1"

# In new-style instances, if CATALINA_BASE isn't specified, it will
# be constructed by joining TOMCATS_BASE and NAME.
TOMCATS_BASE="{{ epicsarchiverap_tomcats_base }}/"

# Where your java installation lives
JAVA_HOME="{{ java_home }}"

# Where your tomcat installation lives
CATALINA_HOME="/usr/share/tomcat"

# System-wide tmp
CATALINA_TMPDIR="/var/cache/tomcat/temp"

# You can pass some parameters to java here if you wish to
JAVA_OPTS="-XX:MaxMetaspaceSize={{ epicsarchiverap_java_maxmetaspace }} -XX:+UseG1GC -Xms{{ epicsarchiverap_java_heapsize }} -Xmx{{ epicsarchiverap_java_heapsize }} -ea"

# Use JAVA_OPTS to set java.library.path for libtcnative.so
#JAVA_OPTS="-Djava.library.path=/usr/lib"

# You can change your tomcat locale here
#LANG="en_US"

# Run tomcat under the Java Security Manager
SECURITY_MANAGER="false"

# Time to wait in seconds, before killing process
# TODO(stingray): does nothing, fix.
# SHUTDOWN_WAIT="30"

# If you wish to further customize your tomcat environment,
# put your own definitions here
# (i.e. LD_LIBRARY_PATH for some jdbc drivers)

# Variables required by EPICS Archiver Appliance
TOMCAT_HOME="/usr/share/tomcat"

# root folder of the individual Tomcat instances
# same as TOMCATS_BASE
ARCHAPPL_DEPLOY_DIR="{{ epicsarchiverap_tomcats_base }}"

# appliance id and xml
{% if epicsarchiverap_cluster == "" %}
ARCHAPPL_MYIDENTITY="{{ epicsarchiverap_id }}"
{% else %}
ARCHAPPL_MYIDENTITY="{{ epicsarchiverap_id + '_' + inventory_hostname }}"
{% endif %}
ARCHAPPL_APPLIANCES="{{ epicsarchiverap_tomcats_base }}/appliance.xml"

# appliance policies and properties file
ARCHAPPL_POLICIES="{{ epicsarchiverap_tomcats_base }}/site_policies.py"
ARCHAPPL_PROPERTIES_FILENAME="{{ epicsarchiverap_tomcats_base }}/archappl.properties"

# location of the short term and long term stores
# this is necessary only if your policy demands it
ARCHAPPL_SHORT_TERM_FOLDER="{{ epicsarchiverap_storage }}/sts/ArchiverStore"
ARCHAPPL_MEDIUM_TERM_FOLDER="{{ epicsarchiverap_storage }}/mts/ArchiverStore"
ARCHAPPL_LONG_TERM_FOLDER="{{ epicsarchiverap_storage }}/lts/ArchiverStore"

# EPICS variables
EPICS_BASE="{{ epicsarchiverap_epics_base }}"
EPICS_HOST_ARCH=linux-x86_64
{% if epicsarchiverap_epics_ca_addr_list != "" %}
EPICS_CA_ADDR_LIST="{{ epicsarchiverap_epics_ca_addr_list }}"
{% endif %}
EPICS_CA_AUTO_ADDR_LIST=yes
EPICS_CA_SERVER_PORT=5064
EPICS_CA_REPEATER_PORT=5065

# LD_LIBRARY_PATH shall include the paths to the JCA and EPICS base
LD_LIBRARY_PATH="{{ epicsarchiverap_tomcats_base }}/engine/webapps/engine/WEB-INF/lib/native/linux-x86_64:{{ epicsarchiverap_epics_base }}/lib/linux-x86_64"
